@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to top, #9b14cc, #2b32b2);
    user-select: none;
}


.container{
    width: 40rem;
    background: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    box-shadow: 0px 1px 4px rgba(0,0,0,.2);
}

.list_heading{
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.input{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* padding: .7rem; */
    background: #eee;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
}

.list_input{
    flex: 1 1 75%;
    padding: 1rem;
    font-size: 1.2rem;
    /* border: .1rem solid #eee; */
    background: #eee;
    border-radius: inherit;
}
.btn{
    flex: 1 1 35%;
    padding: 1rem;
    background-image:linear-gradient(to top, #9b14cc, #2b32b2);
    color: #fff;
    font-size: 1.2rem;
    border-radius: inherit;
    cursor: pointer;
}


.list_item_container{
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.list_item_container li{
    /* box-shadow: 0px 1px 4px rgba(0,0,0,.2); */
    width: 100%;
    padding: 1rem 1.3rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    position: relative;
}


.list_item_container li::before{
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(./unchecked.png);
    background-position: center;
    background-size: cover;
    /* top: 28px; */
    left: -2%;
}

.list_item_container li.checked{
    color: #555;
    text-decoration: line-through;
}
.list_item_container li.checked::before{
    background-image: url(./checked.png);
}



.list_item_container li i{
    font-size: 1.4rem;
}

.list_item_container li span{
    padding: .5rem 1rem;
    font-size: 1.3rem;
    border-radius: 50%;
}

.list_item_container li span:hover{
    background: #edeef0;
}

@media (max-width: 540px) {
    html{
        font-size: 70%;
    }
}